<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
    <title>A207-CmaxServer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Loading Bootstrap -->
		<link href="{{ static_url('css/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
		<!-- Loading Flat UI -->
		<link href="{{ static_url('css/flat-ui.css')}}" rel="stylesheet">
		<link href="{{ static_url('css/spinkit.css')}}" rel="stylesheet">
    <link href="{{ static_url('css/dropdown.css')}}" rel="stylesheet">
    <!-- Loading favicon -->
    <link rel="bookmark" type="image/x-icon" href="{{ static_url('img/favicon.ico')}}" mce_href="{{ static_url('img/favicon.ico')}}"/>
    <link rel="icon" type="image/x-icon" href="{{ static_url('img/favicon.ico')}}" mce_href="{{ static_url('img/favicon.ico')}}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ static_url('img/favicon.ico')}}" mce_href="{{ static_url('img/favicon.ico')}}"/>
		<!-- Custome CSS -->
		<style type="text/css">
			td{
				vertical-align: middle!important;
			}
			.running{
				color: green;
			}
			.stoped{
				color: red;
			}
			.footer_out{
				bottom: 0;
				height: 80px;
				width: 100%;
				overflow: auto;
				color:#777;
				vertical-align: middle;
				text-align: center;
			}
			.copyright{
				margin-top: 15px;
			}
			#container{
				min-height: 800px;
			}
      .div_window {
        width: 400px;
        height: 300px;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-top: -100px;
        margin-left: -150px;
        display: none;
        border: 1px black solid;
        background-color: #DCDCDC;
      }
		</style>
		<!-- Custome JS -->
		<script type="text/javascript">

      function init(){
				$.get("/init/get_server_name", {}, function(res){
          if(res!="")document.getElementById("server_name").innerHTML=res;
				});
				$.get("/init/get_attention", {}, function(res){
          if(res!="")document.getElementById("attention").innerHTML=res;
				});
				$.get("/init/modify_title", {}, function(res){
				  if(res!="")document.title = res;
        });
      }

			function onStartClick(username) {
				$("#table").attr("hidden","hidden");
				$("#container").html('<br><br><br><div class="sk-wave"><div class="sk-rect sk-rect1"></div><div class="sk-rect sk-rect2"></div><div class="sk-rect sk-rect3"></div><div class="sk-rect sk-rect4"></div><div class="sk-rect sk-rect5"></div></div>');

				$.get("/start/" + username, {}, function(res){
					if(res == "succeed"){
						window.location.reload();
					}
				});
			}

      function onStopClick(){
        var username = String(document.getElementById("op_user").innerHTML);
        var passwd = String(document.getElementById("password").value);
        passwd = passwd.replace(/#/g, "%23");
        passwd = passwd.replace(/\?/g, "%3F");
        passwd = passwd.replace(/\//g, "%2F");
        passwd = passwd.replace(/:/g, "%3A");
        document.getElementById("op_user").innerHTML="";
        document.getElementById("password").value="";
        document.getElementById("password_submit").removeEventListener("click",onStopClick);
				$.get("/verify/" + username + "/" + passwd, {}, function(res){
					if(res == "succeed") {
						$("#table").attr("hidden","hidden");
						$("#container").html('<br><br><br><div class="sk-wave"><div class="sk-rect sk-rect1"></div><div class="sk-rect sk-rect2"></div><div class="sk-rect sk-rect3"></div><div class="sk-rect sk-rect4"></div><div class="sk-rect sk-rect5"></div></div>');
						$.get("/stop/" + username, {}, function(res) {
							if(res == "succeed"){
								window.location.reload();
							} else {
							  alert('stop error');
							  return;
              }
						});
					} else {
					  alert('password is error');
					  return;
          }
				});
			}

			function onDeleteClick(){
				//var password = prompt("Enter your password:");
        var username = String(document.getElementById("op_user").innerHTML);
        var passwd = String(document.getElementById("password").value);
        passwd = passwd.replace(/#/g, "%23");
        passwd = passwd.replace(/\?/g, "%3F");
        passwd = passwd.replace(/\//g, "%2F");
        passwd = passwd.replace(/:/g, "%3A");
        document.getElementById("op_user").innerHTML="";
        document.getElementById("password").value="";
        document.getElementById("password_submit").removeEventListener("click",onDeleteClick);
				$.get("/verify/" + username + "/" + passwd, {}, function(res){
					if(res == "succeed"){
						$("#table").attr("hidden","hidden");
						$("#container").html('<br><br><br><div class="sk-wave"><div class="sk-rect sk-rect1"></div><div class="sk-rect sk-rect2"></div><div class="sk-rect sk-rect3"></div><div class="sk-rect sk-rect4"></div><div class="sk-rect sk-rect5"></div></div>');
						$.get("/delete/" + username, {}, function(res){
							if(res == "succeed"){
								window.location.reload();
							} else {
							  alert('delete error');
							  return;
              }
						});
					} else {
					  alert('the passwd is error');
					  return;
          }
				});
			}

			function onPasswdUpdateClick(){
				//var password = prompt("Enter your original password:");
        var username = String(document.getElementById("op_user").innerHTML);
        var passwd = String(document.getElementById("password").value);
        passwd = passwd.replace(/#/g, "%23");
        passwd = passwd.replace(/\?/g, "%3F");
        passwd = passwd.replace(/\//g, "%2F");
        passwd = passwd.replace(/:/g, "%3A");
        document.getElementById("op_user").innerHTML="";
				document.getElementById("password").value="";
        document.getElementById("password_submit").removeEventListener("click",onPasswdUpdateClick);
        var new_passwd = (document.getElementById("new_password").value);
        var new_passwd_again = (document.getElementById("new_password_again").value);
        var new_mail = String(document.getElementById("new_mail").value);
        if(new_mail=="")new_mail="NotModified";
        var new_addition = String(document.getElementById("new_addition").value);
        if(new_addition=="")new_addition="NotModified";
        var new_phone = String(document.getElementById("new_phone").value);
        if(new_phone=="")new_phone="NotModified";
        document.getElementById("new_password").value="";
        document.getElementById("new_password_again").value="";
				$.get("/verify/" + username + "/" + passwd, {}, function(res){
					if(res == "succeed"){
					  if(new_passwd===new_passwd_again) {
              $("#table").attr("hidden", "hidden");
              $("#container").html('<br><br><br><div class="sk-wave"><div class="sk-rect sk-rect1"></div><div class="sk-rect sk-rect2"></div><div class="sk-rect sk-rect3"></div><div class="sk-rect sk-rect4"></div><div class="sk-rect sk-rect5"></div></div>');
              if(new_passwd != "") {
                $.get("/update_passwd/" + username + "/" + new_passwd, {}, function (res) {
                if (res == "succeed") {
                  alert("修改密码成功");
                }else{
                  alert("修改密码失败");
                }
              });
              }
				      /*var format_check = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
              if(format_check.test(new_mail)){

              }
              else{
                if(new_mail!="NotModified")alert('e-mail format error');
                window.location.reload();
              }*/
              $.get("/update_mail/" + username + "/" + new_mail + "/" + new_addition + "/" + new_phone, {}, function(res){
                  if(res == "succeed"){
                    alert("修改信息成功");
                    window.location.reload();
                  }
                  else{
                    alert('修改信息失败');
                    window.location.reload();
                  }
              });
            }
						else{
						  alert('确认密码与新密码不一致');
            }
					}
					else{
					  alert('原密码错误')
          }
				});
			}

      function onTimeResetClick(){
				//var passwd = prompt("Enter your password:");
        var username = String(document.getElementById("op_user").innerHTML);
        var passwd = String(document.getElementById("password").value);
        passwd = passwd.replace(/#/g, "%23");
        passwd = passwd.replace(/\?/g, "%3F");
        passwd = passwd.replace(/\//g, "%2F");
        passwd = passwd.replace(/:/g, "%3A");
        document.getElementById("op_user").innerHTML="";
				document.getElementById("password").value="";
        document.getElementById("password_submit").removeEventListener("click",onTimeResetClick);
				$.get("/verify/" + username + "/" + passwd, {}, function(res){
					if(res == "succeed") {
						$("#table").attr("hidden","hidden");
						$("#container").html('<br><br><br><div class="sk-wave"><div class="sk-rect sk-rect1"></div><div class="sk-rect sk-rect2"></div><div class="sk-rect sk-rect3"></div><div class="sk-rect sk-rect4"></div><div class="sk-rect sk-rect5"></div></div>');
						$.get("/time_reset/" + username, {}, function(res) {
							if(res == "succeed"){
								window.location.reload();
							} else {
							  alert('time reset failed');
							  return;
              }
						});
					} else {
					  alert('the password is error');
					  return;
          }
				});
      }
      function onPrivacyClick(){
				//var passwd = prompt("Enter your password:");
        var username = String(document.getElementById("op_user").innerHTML);
        var passwd = String(document.getElementById("password").value);
        passwd = passwd.replace(/#/g, "%23");
        passwd = passwd.replace(/\?/g, "%3F");
        passwd = passwd.replace(/\//g, "%2F");
        passwd = passwd.replace(/:/g, "%3A");
        document.getElementById("op_user").innerHTML="";
				document.getElementById("password").value="";
        document.getElementById("password_submit").removeEventListener("click",onTimeResetClick);
				$.get("/verify/" + username + "/" + passwd, {}, function(res){
					if(res == "succeed") {
						$("#table").attr("hidden","hidden");
						$("#container").html('<br><br><br><div class="sk-wave"><div class="sk-rect sk-rect1"></div><div class="sk-rect sk-rect2"></div><div class="sk-rect sk-rect3"></div><div class="sk-rect sk-rect4"></div><div class="sk-rect sk-rect5"></div></div>');
						$.get("/privacy_info/" + username, {}, function(res) {
							alert(res);
							window.location.reload();
						});
					} else {
					  alert('the password is error');
					  return;
          }
				});
      }
      //密码框
      function password_require(listenTarget, username){
			  console.log("password_required");
			  document.getElementById("op_user").innerHTML = username;
        document.getElementById("pwdDiv").style.display="inline";
			  scall();
        window.onscroll = scall;
        window.onresize = scall;
        document.getElementById("password").value="";
        document.getElementById("new_password").value="";
        document.getElementById("new_password_again").value="";
        //对每个需要密码的操作，添加提交按钮侦听器
        if(listenTarget==='stop'){
          // op_type容器：操作类型提示文字
          document.getElementById("op_type").innerHTML="停止虚拟机";
          // 提交按钮侦听，点击时执行onStopClick函数
          document.getElementById("password_submit").addEventListener("click",onStopClick);
        }
        else if(listenTarget==='changePassword'){
          document.getElementById("op_type").innerHTML="修改密码";
          document.getElementById("password_submit").addEventListener("click",onPasswdUpdateClick);
          //修改密码操作需要显示new_password（新密码）输入框
          document.getElementById("new_password").style.display="inline";
          document.getElementById("new_password_again").style.display="inline";
          document.getElementById("new_mail").value = "";
          document.getElementById("new_mail").style.display="inline";
          document.getElementById("new_addition").value = "";
          document.getElementById("new_addition").style.display="inline";
          document.getElementById("new_phone").value = "";
          document.getElementById("new_phone").style.display="inline";
        }
        else if(listenTarget==='delete_vm'){
          document.getElementById("op_type").innerHTML="删除虚拟机";
          // 删除虚拟机操作提示文字显示
			    document.getElementById("delete_alert").style.display="inline";
          document.getElementById("password_submit").addEventListener("click",onDeleteClick);
        }
        else if(listenTarget==='time_reset'){
          document.getElementById("op_type").innerHTML="时间重置";
          document.getElementById("password_submit").addEventListener("click",onTimeResetClick);
        }
        else if(listenTarget==='privacy_info'){
          document.getElementById("op_type").innerHTML="隐私信息";
          document.getElementById("password_submit").addEventListener("click",onPrivacyClick);
        }
      }
      function hide_password_dialog(){
			  //输入密码完成（提交或取消），隐藏密码框
			  document.getElementById("delete_alert").style.display="none";
        document.getElementById("new_password").style.display="none";
        document.getElementById("new_password_again").style.display="none";
        document.getElementById("new_mail").style.display="none";
        document.getElementById("new_addition").style.display="none";
        document.getElementById("new_phone").style.display="none";
        document.getElementById("pwdDiv").style.display="none";
        window.onscroll = "";
        window.onresize = "";
      }
      function password_canceled(){
			    //按取消时需要移除提交按钮侦听器
          var op = String(document.getElementById("op_type").innerHTML);
          if(op=="停止虚拟机")document.getElementById("password_submit").removeEventListener("click",onStopClick);
          else if(op=="修改密码")document.getElementById("password_submit").removeEventListener("click",onPasswdUpdateClick);
          else if(op=="删除虚拟机")document.getElementById("password_submit").removeEventListener("click",onDeleteClick);
          else if(op=="更改邮箱")document.getElementById("password_submit").removeEventListener("click",onMailUpdateClick);
          else if(op=="时间重置")document.getElementById("password_submit").removeEventListener("click",onTimeResetClick);
      }
      // 密码框位置
      function scall() {
        scrollTo(0,0);
      }
		</script>
	</head>

	<!-- HTML Body -->
	<body onload="init()">
    <a name="page_top"></a>
		<nav class="navbar navbar-default" role="navigation" style="z-index:1;width:100%;left=0;position:fixed;top:0;opacity: 0%">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
					<span class="sr-only">Toggle navigation</span>
				</button>
        <a class="navbar-brand" href="/"><span id="server_name">Cmax-Server</span></a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-01">
				<ul class="nav navbar-nav">
					<li><a href="/register/">注册</a></li>
					<li><a href="/status_cpu/">资源监控</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav><!-- /navbar -->
    <div id="pwdDiv" style="display:none;position:absolute; left:0px; top:0px; z-index: 2; width:100%; min-height:100%; background-color:#eeeeee; opacity:30%">
    <div style="z-index: 3; position:absolute; text-align:center; left: 30%; top: 30%; width: 40%; height: 500px; margin: 0 auto; border: 2px solid #000000"">
      <span>用户<span id="op_user"></span>执行<span id="op_type"></span>操作<br>
        <span id="delete_alert" style="display:none;color:red">你现在要删除虚拟机，请谨慎操作！<br></span>
        该操作需要密码，请输入密码</span><br>
      <input id="password" type="password" placeholder="输入用户原密码"><br><br>
      <span><input id="new_password" style="display:none" type="password" placeholder="输入新密码，留空不变"></span><br>
      <span><input id="new_password_again" style="display:none" type="password" placeholder="再次输入新密码，留空不变"></span><br>
      <span><input id="new_mail" style="display:none" placeholder="输入新邮箱，留空不变"></span><br>
      <span><input id="new_addition" style="display:none" placeholder="输入新备注，留空不变"></span><br>
      <span><input id="new_phone" style="display:none" placeholder="输入新手机，留空不变"></span><br>
      <button id="password_submit" onclick="hide_password_dialog()">提交</button>
      <button id="password_cancel" onclick="password_canceled();hide_password_dialog()">取消</button>
    </div>

    </div>
    <br><br><br>
		<div>
		<div id="container" class="container" style="padding-bottom:100px">
			<pre class="prettyprint mvl prettypreinted">
        <span id="attention">

        <span><strong>须知:</strong></span>
				<span>1. 每一个用户名对应着一个虚拟机，可用操作分别是：开机，关机，删除,重置计时器，更改管理密码，更改邮箱</span>
				<span>2. 虚拟机用完请关掉，为节省虚拟机资源，虚拟机连续开机60小时将邮件通知（若邮件为有效地址），72小时将关闭，用户可重置计时器延长使用时间</span>
				<span>3. 每个用户映射了10个端口，端口顺序为：ssh, vnc, 8080-8087</span>
        <span>4. 请将数据存储在home目录，该目录挂载在主机，独立于虚拟机</span>

				<span><strong>使用方法:</strong></span>
				<span>1. SSH连接：默认把第一个分配端口映射为22端口，密码为注册时密码</span>
				<span>	&nbsp &nbsp 如分配端口为9010~9019的同学，使用命令 "ssh -p 9010 yourname@127.0.0.1"进行连接</span>
				<span>2. VNC连接：默认把第二个分配端口映射为5901端口，密码为注册时密码</span>
				<span>	&nbsp &nbsp 如分配端口为9010~9019的同学，其对应的VNC地址为 127.0.0.1:9011</span>

				</span>
			</pre>
			<br>
			<table id="table" class="table table-striped table-bordered" style="text-align: center!important;vertical-align: middle!important;">

				<thead>
				<td>用户名</td>
				<td>备注</td>
				<td>状态</td>
				<td>端口分配</td>
				<td>已分配IP</td>
				<td>开启时间</td>
				<td>操作</td>
				</thead>

				{% for key in items%}
					{% if items[key][2]=="RUNNING"%}
					<tr>
						<td>{{escape(items[key][0])}}</td>
						<td>{{escape(items[key][5])}}</td>
						<td class="running">{{escape(items[key][2])}}</td>
						<td>{{escape(items[key][1])}}</td>
						<td>{{escape(items[key][3])}}</td>
						<td>{{escape(items[key][4])}}</td>
						<td>
              <button class="btn btn-primary" disabled="disabled"><span class="fui-play"></span> </button>
              <button class="btn btn-primary" title="shut down" onclick="password_require('stop', '{{escape(items[key][0])}}')"><span class="fui-pause"></span> </button>              <button class="btn btn-primary" disabled="disabled"><span class="fui-cross"></span> </button>
              <div class="dropdown">
                <button class="btn btn-primary"><span class="fui-list-bulleted"></span></button>
                <div class="dropdown" style="position:relative; left:0; top:-27px">
                <div class="dropdown-content" style="left:0;">
                  <button class="btn btn-primary" title="reset time counting" onclick="password_require('time_reset', '{{escape(items[key][0])}}')"><span class="fui-time"></span> </button>
                  <button class="btn btn-primary" title="update info" onclick="password_require('changePassword', '{{escape(items[key][0])}}')"><span class="fui-lock"></span></button>
                  <button class="btn btn-primary" title="display info" onclick="password_require('privacy_info', '{{escape(items[key][0])}}')"><span class="fui-star"></span></button>
                </div>
                </div>
              </div>
						</td>
					</tr>
					{% end %}
				{% end %}
				{% for key in items%}
					{% if items[key][2]=="STOPED"%}
					<tr>
						<td>{{escape(items[key][0])}}</td>
						<td>{{escape(items[key][5])}}</td>
						<td class="stoped">STOPPED</td>
						<td>{{escape(items[key][1])}}</td>
						<td>{{escape(items[key][3])}}</td>
						<td>{{escape(items[key][4])}}</td>
						<td>
              <button class="btn btn-primary" title="start up" onclick="onStartClick('{{escape(items[key][0])}}')"><span class="fui-play"></span> </button>
              <button class="btn btn-primary" disabled="disabled"><span class="fui-pause"></span> </button>
              <button class="btn btn-primary" title="delete" onclick="password_require('delete_vm', '{{escape(items[key][0])}}')"><span class="fui-cross" ></span> </button>
              <div class="dropdown">
                <button class="btn btn-primary"><span class="fui-list-bulleted"></span></button>
                <div class="dropdown" style="position:relative; left:0; top:-27px">
                <div class="dropdown-content" style="left:0;">
                  <button class="btn btn-primary" disabled="disabled"><span class="fui-time"></span> </button>
                  <button class="btn btn-primary" title="update your info" onclick="password_require('changePassword', '{{escape(items[key][0])}}')"><span class="fui-lock"></span></button>
                  <button class="btn btn-primary" title="privacy data" onclick="password_require('privacy_info', '{{escape(items[key][0])}}')"><span class="fui-star"></span></button>
                </div>
                </div>
              </div>

						</td>
					</tr>
					{% end %}
				{% end %}
				</tr>
			</table>
		</div><!-- /.container -->

		<footer class="footer_out" role="contentinfo">
			<div class="footer_inn" style="text-align:center;">
			<p class="copyright">
				Copyright &nbsp &nbsp 2017-2018 by
        <a href="https://github.com/kunxinz">kunxinz</a>
        ,
        <a href="https://github.com/aruyuna9531">yuna~</a>
        ,
				<a href="https://hellokenlee.github.io">KenLee</a>
        ,
				<a href="https://github.com/WideLee">Limkuan</a>
        and
        <a href="https://">hetao</a>
			</p>
			<p class="copyright">
				Maintain by
        <a href="https://github.com/kunxinz">kunxinz</a>
        ,
        <a href="https://github.com/aruyuna9531">yuna~</a>
        ,
				<a href="https://hellokenlee.github.io">KenLee</a>
        ,
				<a href="https://github.com/WideLee">Limkuan</a>
        and
        <a href="https://">hetao</a>
			</p>
			</div>
		</footer><!-- /.footer -->


		</div>


		<!-- jQuery (necessary for Flat UI"s JavaScript plugins) -->
		<script src="{{ static_url('js/vendor/jquery.min.js')}}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{{ static_url('js/vendor/video.js')}}"></script>
		<script src="{{ static_url('js/flat-ui.min.js')}}"></script>

	</body>
</html>
